.home {
  width: 100%;
  background-image: url("../../images/image2.jpg");
  background-blend-mode: overlay;

  height: 700px;
  color: white;
}

.ck {
  margin-top: 100px;
  height: 377px;
  padding-left: 350px;
}
h2 {
  text-align: center;
  padding-top: 200px;
  color: white;
}
h3 {
  text-align: center;
}
.link {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 480px) {
  .home {
    width: 100%;
    background-image: url("../../images/image2.jpg");
    background-blend-mode: overlay;

    height: 900px;
    color: white;
  }
  h2 {
    text-align: center;
    padding-top: 200px;
    justify-content: center;
    color: white;
  }
  .ck {
    margin-top: 100px;
    height: 377px;
    padding-left: 150px;
  }
  h3 {
    justify-content: center;
    text-align: center;
  }
}
